<a href="https://colab.research.google.com/github/payal1403/payal1403/blob/pythonfile/mysql3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:

!apt-get -y install mysql-server
!sudo service mysql status
!sudo service   mysql start
!pip install mysql-connector-python


import mysql.connector

# Create a connection to the MySQL server
conn = mysql.connector.connect(user='root', password='root', unix_socket='/var/run/mysqld/mysqld.sock')

# Create a cursor to interact with the MySQL server
cursor = conn.cursor()

# Create a new database named 'library'
cursor.execute("CREATE DATABASE IF NOT EXISTS library")

# Switch to the 'library' database
cursor.execute("USE library")

# Create the 'books' table
cursor.execute('CREATE TABLE IF NOT EXISTS staff (id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(255) NOT NULL,city CHAR(255) );')
for i in range(5):

 s_id=input('id')
 s_name=input('name')
s_city=input('city')




cursor.execute("""
INSERT INTO staff (id, name, city) VALUES (%s, %s, %s)
""",(s_id,s_name,s_city))

# Commit the changes
conn.commit()
print('data entered')

cursor.execute("select * from staff")
for row in cursor:
  print(row)


# Always remember to close the cursor and connection when done
cursor.close()
conn.close()

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mysql-server is already the newest version (8.0.36-0ubuntu0.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 32 not upgraded.
 * /usr/bin/mysqladmin  Ver 8.0.36-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))
Copyright (c) 2000, 2024, Oracle and/or its affiliates.

Oracle is a registered trademark of Oracle Corporation and/or its
affiliates. Other names may be trademarks of their respective
owners.

Server version		8.0.36-0ubuntu0.22.04.1
Protocol version	10
Connection		Localhost via UNIX socket
UNIX socket		/var/run/mysqld/mysqld.sock
Uptime:			53 min 25 sec

Threads: 3  Questions: 225  Slow queries: 0  Opens: 177  Flush tables: 3  Open tables: 96  Queries per second avg: 0.070
 * Starting MySQL database server mysqld
   ...done.
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.3.0)
id1
namepayal
cityjaipur
id2
nameneha
cityjodhpur
id3
namekhushi
cityraipur
idmansvi
namemansvi
citykota
id5
namezoo
citychina
data entered
(1, 'pau', 'jaipur')
(2, 'isha', 'jaipur')
(3, 'neha', 'jaipur')
(5, 'zoo', 'china')