<a href="https://colab.research.google.com/github/payal1403/payal1403/blob/pythonfile/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a=1
b=15
print("prime no between",a,"and",b,"are")

for num in range(a,b+1):
  if num>1:
    for i in range(2,num):
      if (num%i)==0:
        break
    else:
        print(num)

prime no between 1 and 15 are
2
3
5
7
11
13

In [6]:
a=input('enter a value')
a=int(a)

factorial=1

while (a>0):
  factorial=factorial*a
  a=a-1
print("factorial=",factorial)

enter a value5
factorial= 120

In [ ]:
a=1
b=15
print("prime no between",a,"and",b,"are")

for num in range(a,b+1):
  if num>1:
    for i in range(2,num):
      if (num%i)==0:
        break
    else:
        sum=7
        if sum-1==

In [13]:
num=input('enter a value')
num=int(num)
sum=0

temp=num

while temp>0:
  digit=temp%10
  sum+=digit**3
  temp//=10

if num==sum:
    print(num,"is a armstrong no")

else:
    print(num,"is not a armstrong no")

enter a value123
123 is not a armstrong no

In [20]:
a="hello"
size=len(a)
str=""

while size>0:
  size-=1
  str+=a[size]
print(str)

olleh

In [22]:
a=input('enter a string')
size=len(a)
str=""

while size>0:
  size-=1
  str+=a[size]
print(str)

enter a stringmy name is payal
layap si eman ym

In [26]:
a="hello"
size=len(a)
str=""

while size>-5:
  size-=1
  str+=a[size]
print(str)

olleholle

In [47]:
a="my name is payal"
x=a.split()
print(x)

y=(x[0])
size=len(y)
str=""

while size>0:
  size-=1
  str+=y[size]
print(str)

['my', 'name', 'is', 'payal']
ym